.viewPrograms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.viewPrograms .titleInViewPrograms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 35px;
    text-transform: capitalize;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 700;
}

.viewPrograms .search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: 5px;
}

.viewPrograms .search .inputGroup {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.viewPrograms .search .inputGroup>label {
    color: #00b96b;
    opacity: 0.85;
}

.viewPrograms .clientsInViewPrograms {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    border: 1px solid #00b96b;
    border-radius: 5px;
    min-height: 620px;
    padding: 15px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 10px;
    row-gap: 20px;
    column-gap: 20px;
}

.viewPrograms .clientsInViewPrograms.empty {
    justify-content: center;
    align-items: center;
}


.viewPrograms .clientsInViewPrograms .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 700;
    user-select: none;
}