.mainWeek {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: 32px;
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid #00b96b;
    box-shadow: 1px 1px 5px 0px #00820e;
    border-radius: 5px;
    border-top-left-radius: 0;
}