.foodHolder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 99%;
    min-height: 180px;
    border: 1px solid #01660c;
    box-shadow: 2px 2px 5px 0px #00820e;
    border-radius: 5px;
}