.programCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #00b96b;
    height: 130px;
    width: 250px;
    border-radius: 5px;

}

a {
    text-decoration: none;
}

.programCard .titleInCard {
    margin: 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 700;
}

.programCard .calsInCard {
    margin: 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    width: 100%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 600;
}

.programCard .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.programCard .buttons .pdf {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.programCard .buttons .delete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.programCard .buttons .delete .iconInButton {
    position: absolute;
    top: 7px;
    right: 7px;
}

.programCard .buttons .pdf .iconInButton {
    position: absolute;
    top: 7px;
    right: 9px;
}