.statistics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
    min-height: 260px;
    border: 1px solid #01660c;
    box-shadow: 2px 2px 5px 0px #00820e;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.statistics h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 22px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #01660c;
    font-weight: 700;
}