.statistics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
    height: 225px;
    border: 1px solid #00b96b;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.statistics h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 22px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 700;
}

.statistics .state {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
}

.statistics .state>span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    font-size: 16px;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 700;
    padding-left: 22px;
    margin-top: 20px;
    text-decoration: underline;
}

.statistics .saveButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.statistics .saveButton button {
    display: flex;
    margin-right: 16px;
    margin-bottom: 8px;
    width: 100%;
    margin-left: 16px;
    justify-content: center;
}