.foodTable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

.foodTable .titleAndAdd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.foodTable .titleAndAdd h2 {
    display: flex;
    margin-left: 32px;
    margin-top: 54px;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #01660c;
    font-weight: 700;
}

.foodTable .titleAndAdd button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 300px;
    margin-right: 32px;
    margin-top: 54px;
}

.foodTable .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 97%;
    margin-top: 34px;
    margin-left: 32px;
}

.foodTable .wrapper .foodItemsHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    width: 98%;
    height: auto;
    overflow: auto;
    padding-bottom: 50px;
}

.foodTable .wrapper .foodItemsHolder .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 700;
    user-select: none;
}