.foodTable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.foodTable .titleAndAdd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.foodTable .titleAndAdd h2 {
    display: flex;
    margin-left: 32px;
    margin-top: 54px;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #01660c;
    font-weight: 700;
}

.foodTable .titleAndAdd button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 300px;
    margin-right: 32px;
    margin-top: 54px;
}

.foodTable .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 64px;
    margin-left: 32px;
}

.foodTable .wrapper .foodItemsHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    width: 96%;
    height: 600px;
    overflow: auto;
}

