.wrapperInAddCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.wrapperInAddCard .back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 171, 171, 0.5);
    cursor: pointer;
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px) ;
}

.wrapperInAddCard .addCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 45vh;
    min-height: 400px;
    width: 25vw;
    min-width: 350px;
    background-color: #fff;
    z-index: 2;
    opacity: 1;
    border-radius: 5px;
    border: 1px solid #00b96b;
    position: absolute;
    top: 300;
}

.wrapperInAddCard .addCard .select {
    display: flex;
    align-items: center;
    width: 280px;
    margin-top: 32px;
}

.wrapperInAddCard .addCard .inputInAddCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    
}

.wrapperInAddCard .addCard .inputInAddCard .inputGroup {
    margin: 0;
    margin-top: 16px;
}

.wrapperInAddCard .addCard .foodCardInAddCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: max-content;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 30px;

}

.wrapperInAddCard .addCard .foodCardInAddCard>label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapperInAddCard .addCard .saveAndCancelInAddCard {
    display: flex;
    justify-content: space-around;
    height: max-content;
    width: 100%;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard {
    width: 300px;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard .customImage>div>div {
    width: 155px;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard .infoHolder {
    margin-left: 15px;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard img {
    width: 155px;
}