.wrapperInAddCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.wrapperInAddCard .back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    cursor: pointer;
    z-index: 1;
    opacity: 0.7;
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.wrapperInAddCard .addCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
    width: 25vw;
    background-color: #fff;
    z-index: 2;
    opacity: 1;
    border-radius: 5px;
    border: 1px solid #00b96b;
    position: absolute;
    top: 300;
}

.wrapperInAddCard .addCard .select {
    display: flex;
    align-items: center;
    width: 280px;
    margin-top: 32px;
}

.wrapperInAddCard .addCard .inputInAddCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrapperInAddCard .addCard .inputInAddCard .inputGroup {
    margin: 0;
    margin-top: 10px;
}

.wrapperInAddCard .addCard .foodCardInAddCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: max-content;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;

}

.wrapperInAddCard .addCard .foodCardInAddCard>label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapperInAddCard .addCard .saveAndCancelInAddCard {
    display: flex;
    justify-content: space-around;
    height: max-content;
    width: 100%;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard {
    width: 300px;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard .customImage>div>div {
    width: 155px;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard .infoHolder {
    margin-left: 15px;
}

.wrapperInAddCard .addCard .foodCardInAddCard .foodCard img {
    width: 155px;
}