.newProgram {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98vw;
    min-height: 92vh;
    height: min-content;
    margin:0;
}

.newProgram .titleInNewProgram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-left: 32px;
    text-transform: capitalize;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b96b;
    font-weight: 700;
}

.newProgram form {
    width: 97%;
    height: 100%;
}

.newProgram form> .personInfoAndStat{
    width: 100%;
    min-height: 270px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.newProgram form .weekInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}